@import "../../assets/fonts";
@import "../../assets/breakpoints";

@mixin title($font-size, $top, $left) {
  @include font(700, $font-size);
  top: $top;
  left: $left;
}
@mixin subtitle($font-size, $top, $left) {
  font-style: italic;
  @include font(500, $font-size);
  top: $top;
  left: $left;
}
@mixin btn($font-size, $width, $line-height, $bottom, $left) {
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
  left: $left;
  bottom: $bottom;
  text-align: center;
  width: $width;
  max-width: 169px;
  line-height: $line-height;
  border: 1px solid white;
  transition: 1s ease-out;
  cursor: pointer;
  &:hover,
  &:active {
    color: #ffffff;
    background-color: transparent;
  }
  @include font(400, $font-size);
}

.project-section {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  height: 500px;
  grid-template:
    "item1 item1 item2 item2"
    "item1 item1 item3 item4";
  grid-gap: 20px;
  color: #ffffff;
  @include tablets-portrait {
    grid-template:
      "item1 item1 item3"
      "item1 item1 item3"
      "item4 item2 item2";
  }
  @include smartphone-portrait {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
#h1 {
  margin-top: 20px;
  text-align: center;
  @include font(500, 40px);
}
.item1,
.item2,
.item3,
.item4 {
  border-radius: 23px;
  position: relative;
  @include smartphone-portrait {
    height: 311px;
  }
}
.item1 {
  & p,
  a {
    position: absolute;
    color: #ffffff;
    z-index: 12;
  }
  & p:nth-child(1) {
    @include subtitle(32px, 20%, 11%);
    @include smartphone-portrait {
      font-size: 20px;
    }
  }
  & p:nth-child(2) {
    @include title(45px, 30%, 10%);
    @include smartphone-portrait {
      font-size: 35px;
      top: 31%;
    }
    @include smartphone-portrait {
      font-size: 35px;
      top: 31%;
    }
  }
  & a {
    @include btn(17px, 256px, 53px, 25%, 10%);
    @include smartphone-portrait {
      font-size: 14px;
      max-width: 151px;
      bottom: 19%;
      line-height: 36px;
    }
  }
  grid-area: item1;
  background-image: url("../assets/images/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  &::after {
    content: "";
    z-index: 1;
    background: linear-gradient(
      269.24deg,
      rgba(255, 255, 255, 0) 16.36%,
      rgba(22, 22, 22, 0.26) 43.71%,
      rgba(0, 0, 0, 0.193426) 98.71%,
      rgba(22, 22, 22, 0.26) 98.71%
    );
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.item2 {
  grid-area: item2;
  background-image: url("../assets/images/lock-al.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  & p,
  a {
    position: absolute;
    color: #ffffff;
    z-index: 12;
  }
  & p:nth-child(1) {
    @include subtitle(25px, 20%, 11%);

    @include tablets-portrait {
      font-size: 15px;
    }
    @include smartphone-portrait {
      font-size: 20px;
    }
  }
  & p:nth-child(2) {
    @include title(40px, 35%, 10%);
    @include tablets-portrait {
      font-size: 30px;
    }
    @include smartphone-portrait {
      font-size: 35px;
      top: 31%;
    }
  }
  & a {
    @include btn(17px, 169px, 44px, 11%, 10%);

    @include tablets-portrait {
      font-size: 10px;
      width: 48%;
      line-height: 28px;
    }
    @include smartphone-portrait {
      font-size: 14px;
      max-width: 151px;
      bottom: 19%;
      line-height: 36px;
    }
  }
}
.item3 {
  grid-area: item3;
  background-color: blue;
  & p,
  a {
    position: absolute;
    color: #ffffff;
    z-index: 12;
  }
  & p:nth-child(1) {
    @include subtitle(16px, 20%, 11%);
    @include smartphone-portrait {
      font-size: 20px;
    }
  }
  & p:nth-child(2) {
    @include title(30px, 35%, 10%);
    @include smartphone-portrait {
      font-size: 35px;
      top: 31%;
    }
  }
  & a {
    @include btn(13px, 60%, 44px, 11%, 10%);

    @include smartphone-portrait {
      font-size: 14px;
      max-width: 151px;
      bottom: 19%;
    }
    @include smartphone-portrait {
      font-size: 14px;
      max-width: 151px;
      bottom: 19%;
      line-height: 36px;
    }
  }
}
.item4 {
  grid-area: item4;
  background: linear-gradient(270deg, #d72d2d 6.25%, rgba(173, 0, 0, 0) 100%),
    #dd1221;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  & p,
  a {
    position: absolute;
    color: #ffffff;
    z-index: 12;
  }
  & p:nth-child(1) {
    @include subtitle(16px, 20%, 11%);
    @include tablets-portrait {
      font-size: 13px;
    }
    @include smartphone-portrait {
      font-size: 20px;
    }
  }
  & p:nth-child(2) {
    @include title(30px, 35%, 10%);
    @include tablets-portrait {
      font-size: 25px;
    }
  }
  & a {
    @include btn(13px, 60%, 44px, 11%, 10%);

    @include tablets-portrait {
      font-size: 10px;
      width: 48%;
      line-height: 28px;
    }
    @include smartphone-portrait {
      font-size: 14px;
      max-width: 151px;
      bottom: 19%;
      line-height: 36px;
    }
  }
}
