@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,700;1,100;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap");
.header {
  width: 100%;
  background-color: #686464;
  color: white;
  text-align: center;
  padding: 15px;
}

.header__title {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.header__subtitle {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-top: 10px;
}

.homepage-section {
  margin-top: 4vh;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 190vh;
  display: -ms-grid;
  display: grid;
  grid-template: "projects projects main_img about" "projects projects main_img follow" "img2 cv quote quote" "img2 skills skills contact";
  grid-gap: 10px;
  color: white;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .homepage-section {
    grid-template: "projects projects main_img" "projects projects main_img" "about quote quote" "img2 follow follow" "img2 cv contact" "skills skills contact";
    width: 90vw;
    margin-top: 1vh;
    grid-gap: 6px;
  }
}

@media (max-width: 430px) {
  .homepage-section {
    grid-template: "projects projects" "projects projects" "main_img about" "main_img follow" "quote quote" "img2 cv" "img2 contact" "skills skills";
    width: 100vw;
    grid-gap: 0;
    margin-bottom: 10px;
  }
}

.projects {
  position: relative;
  grid-area: projects;
  background-size: cover;
  text-align: center;
  width: 40vw;
  background-position: center;
  background-image: url("../assets/images/projects-2-md.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects:hover {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

.projects::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.14);
  top: 0;
  left: 0;
}

.projects div {
  z-index: 10;
}

.projects p:nth-child(1) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 40px;
  z-index: 10;
}

.projects p:nth-child(2) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 390px;
  z-index: 10;
  margin-top: 34px;
  margin-bottom: 64px;
}

.projects a:nth-child(3) {
  color: #ffffff;
  z-index: 10;
  width: 246px;
  line-height: 63px;
  background: rgba(37, 37, 37, 0.85);
  border: none;
  font-size: 18px;
  outline: none;
}

.projects a:nth-child(3):hover {
  background: rgba(50, 50, 50, 0.476);
  border: 1px solid #ffffff;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  cursor: pointer;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .projects {
    width: 61vw;
  }
}

@media (max-width: 430px) {
  .projects {
    width: 100vw;
  }
}

.main_img {
  width: 20vw;
  position: relative;
  grid-area: main_img;
  background-image: url("../assets/images/img1.png");
  background-position: center;
  background-size: cover;
}

.main_img:hover {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

.main_img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.14);
  top: 0;
  left: 0;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .main_img {
    width: 30vw;
  }
}

@media (max-width: 430px) {
  .main_img {
    width: 50vw;
  }
}

.about {
  width: 20vw;
  position: relative;
  background-color: #373333;
  grid-area: about;
  cursor: context-menu;
}

.about:hover {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

.about div {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
  z-index: 10;
}

.about p:nth-child(1) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 200;
  font-size: 25px;
  font-style: italic;
  color: #a7a6a6f1;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

@media (max-width: 430px) {
  .about p:nth-child(1) {
    font-size: 14px;
  }
}

.about p:nth-child(2) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

@media (max-width: 430px) {
  .about p:nth-child(2) {
    font-size: 24px;
  }
}

.about:hover p:nth-child(1) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 430px) {
  .about:hover p:nth-child(1) {
    font-size: 24px;
  }
}

.about:hover p:nth-child(2) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 200;
  font-size: 25px;
  font-style: italic;
  color: #a7a6a6f1;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

@media (max-width: 430px) {
  .about:hover p:nth-child(2) {
    font-size: 14px;
  }
}

@media (max-width: 768px) and (max-height: 1023px) {
  .about {
    width: 30vw;
  }
}

@media (max-width: 430px) {
  .about {
    width: 50vw;
  }
}

.follow {
  width: 20vw;
  position: relative;
  background-color: #373333;
  grid-area: follow;
  cursor: context-menu;
}

.follow:hover {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

.follow ul {
  opacity: 0;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

.follow li {
  display: none;
}

.follow li a {
  color: #ffffff;
}

.follow div {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
  z-index: 10;
}

.follow p:nth-child(1) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 200;
  font-size: 25px;
  font-style: italic;
  color: #a7a6a6f1;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

@media (max-width: 430px) {
  .follow p:nth-child(1) {
    font-size: 14px;
  }
}

.follow p:nth-child(2) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

@media (max-width: 430px) {
  .follow p:nth-child(2) {
    font-size: 24px;
  }
}

.follow:hover p:nth-child(1) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 430px) {
  .follow:hover p:nth-child(1) {
    font-size: 24px;
  }
}

.follow:hover p:nth-child(2) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 200;
  font-size: 25px;
  font-style: italic;
  color: #a7a6a6f1;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

@media (max-width: 430px) {
  .follow:hover p:nth-child(2) {
    font-size: 14px;
  }
}

.follow:hover p:nth-child(2) {
  display: none;
}

.follow:hover ul {
  display: inline;
  opacity: 1;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
  list-style: none;
}

.follow:hover li {
  display: inline-block;
  margin: 10px;
  font-size: 16px;
}

.follow:hover li:hover {
  font-size: 18px;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  cursor: pointer;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .follow {
    width: 61vw;
  }
}

@media (max-width: 430px) {
  .follow {
    width: 50vw;
  }
}

.img2 {
  position: relative;
  background-color: #373333;
  grid-area: img2;
  background-image: url("../assets/images/img2-md.jpg");
  background-position: center;
  background-size: cover;
}

.img2:hover {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

.img2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.14);
  top: 0;
  left: 0;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .img2 {
    width: 30vw;
  }
}

@media (max-width: 430px) {
  .img2 {
    width: 50vw;
  }
}

.cv {
  position: relative;
  background-color: #373333;
  grid-area: cv;
  cursor: context-menu;
}

.cv:hover {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

.cv div {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
  z-index: 10;
}

.cv p:nth-child(1) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 200;
  font-size: 25px;
  font-style: italic;
  color: #a7a6a6f1;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

@media (max-width: 430px) {
  .cv p:nth-child(1) {
    font-size: 14px;
  }
}

.cv p:nth-child(2) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

@media (max-width: 430px) {
  .cv p:nth-child(2) {
    font-size: 24px;
  }
}

.cv:hover p:nth-child(1) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 430px) {
  .cv:hover p:nth-child(1) {
    font-size: 24px;
  }
}

.cv:hover p:nth-child(2) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 200;
  font-size: 25px;
  font-style: italic;
  color: #a7a6a6f1;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

@media (max-width: 430px) {
  .cv:hover p:nth-child(2) {
    font-size: 14px;
  }
}

@media (max-width: 768px) and (max-height: 1023px) {
  .cv {
    width: 30vw;
  }
}

@media (max-width: 430px) {
  .cv {
    width: 50vw;
  }
}

.quote {
  position: relative;
  grid-area: quote;
  background: url("../assets/images/quote-md.jpg");
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

.quote:hover {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

.quote::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.14);
  top: 0;
  left: 0;
}

.quote:hover {
  background: #373333;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

.quote:hover p:nth-child(1) {
  opacity: 1;
}

.quote:hover p:nth-child(2) {
  opacity: 1;
}

.quote div {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 1;
  z-index: 10;
  -webkit-transition: 0.7s ease-in;
  transition: 0.7s ease-in;
}

.quote p:nth-child(1) {
  opacity: 0;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
}

@media (max-width: 430px) {
  .quote p:nth-child(1) {
    font-size: 24px;
  }
}

.quote p:nth-child(2) {
  opacity: 0;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 200;
  font-size: 18px;
  font-style: italic;
  color: #a7a6a6f1;
}

@media (max-width: 430px) {
  .quote p:nth-child(2) {
    font-size: 14px;
  }
}

.quote span {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 35px;
  color: #ffffff;
}

@media (max-width: 430px) {
  .quote span {
    font-size: 24px;
  }
}

@media (max-width: 768px) and (max-height: 1023px) {
  .quote {
    width: 61vw;
  }
}

@media (max-width: 430px) {
  .quote {
    width: 100vw;
  }
}

.skills {
  position: relative;
  background-color: #373333;
  grid-area: skills;
  background-image: url("../assets/images/skills.jpg");
  background-position: center;
  background-size: cover;
}

.skills:hover {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

.skills::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.14);
  top: 0;
  left: 0;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .skills {
    width: 61vw;
  }
}

@media (max-width: 430px) {
  .skills {
    width: 100vw;
  }
}

.contact {
  position: relative;
  background-color: #373333;
  grid-area: contact;
  cursor: context-menu;
}

.contact:hover {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.75);
}

.contact p {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
}

@media (max-width: 430px) {
  .contact p {
    font-size: 24px;
  }
}

.contact:hover {
  cursor: pointer;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .contact {
    width: 30vw;
  }
}

@media (max-width: 430px) {
  .contact {
    width: 50vw;
  }
}

.footer {
  background-color: #686464;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: context-menu;
  width: 100vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.footer ul {
  list-style: none;
}

.footer__about p:nth-child(1) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 19px;
}

@media (max-width: 430px) {
  .footer__about p:nth-child(1) {
    margin-bottom: 10px;
  }
}

.footer__about p:nth-child(2) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 25px;
  width: 246px;
}

@media (max-width: 430px) {
  .footer__about p:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
}

.footer__about ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20px)[5];
      grid-template-columns: repeat(5, 20px);
  grid-gap: 11px;
}

@media (max-width: 430px) {
  .footer__about ul {
    margin-left: 50%;
    -webkit-transform: translateX(-38%);
            transform: translateX(-38%);
  }
}

.footer__links p {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 19px;
}

@media (max-width: 430px) {
  .footer__links p {
    margin-bottom: 10px;
  }
}

.footer__links li {
  margin-bottom: 7px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.footer__contact p {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 19px;
}

@media (max-width: 430px) {
  .footer__contact p {
    margin-bottom: 10px;
  }
}

.footer__contact li {
  margin-bottom: 7px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.footer__contact i {
  margin-right: 10px;
}

.footer__projects p {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 19px;
}

@media (max-width: 430px) {
  .footer__projects p {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) and (max-height: 1023px) {
  .footer {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    grid-gap: 30px;
  }
}

@media (max-width: 430px) {
  .footer {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    grid-gap: 30px;
    text-align: center;
  }
}

.about-me {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
      grid-template-columns: 35% 65%;
  margin-top: 5vh;
  margin-bottom: 6vh;
  height: 400px;
}

@media (max-width: 430px) {
  .about-me {
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}

.about-me img {
  width: 19.72vw;
  position: absolute;
  max-width: 304px;
  bottom: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 768px) and (max-height: 1023px) {
  .about-me img {
    width: 256px;
    height: 256px;
    left: 60px;
  }
}

@media (max-width: 430px) {
  .about-me img {
    width: 200px;
    height: 200px;
  }
}

.about-me_img {
  position: relative;
  width: 100%;
  height: 100%;
}

.about-me_img::after {
  position: absolute;
  content: "";
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  background-color: #464545;
  width: 21.04vw;
  height: 21.04vw;
  bottom: 0;
  left: -18px;
  z-index: -1;
  top: 63%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 1700px) {
  .about-me_img::after {
    width: 367px;
    height: 367px;
  }
}

@media (max-width: 768px) and (max-height: 1023px) {
  .about-me_img::after {
    width: 200px;
    height: 200px;
    left: 52px;
  }
}

@media (max-width: 430px) {
  .about-me_img::after {
    width: 150px;
    height: 150px;
  }
}

.about-me_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me_content p:nth-child(1) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 55px;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .about-me_content p:nth-child(1) {
    font-size: 40px;
  }
}

@media (max-width: 430px) {
  .about-me_content p:nth-child(1) {
    font-size: 25px;
  }
}

.about-me_content p:nth-child(2) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 17px;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 600px;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .about-me_content p:nth-child(2) {
    font-size: 15px;
  }
}

@media (max-width: 430px) {
  .about-me_content p:nth-child(2) {
    font-size: 12px;
  }
}

.about-me_content a {
  width: 246px;
  line-height: 63px;
  background: rgba(37, 37, 37, 0.85);
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 17px;
  margin-left: 10px;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .about-me_content a {
    font-size: 15px;
    width: 150.18px;
    line-height: 35.59px;
  }
}

@media (max-width: 430px) {
  .about-me_content a {
    font-size: 12px;
  }
}

@media (max-width: 430px) {
  .about-me_content {
    margin-top: -35%;
  }
}

.project-section {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  height: 500px;
  grid-template: "item1 item1 item2 item2" "item1 item1 item3 item4";
  grid-gap: 20px;
  color: #ffffff;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .project-section {
    grid-template: "item1 item1 item3" "item1 item1 item3" "item4 item2 item2";
  }
}

@media (max-width: 430px) {
  .project-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

#h1 {
  margin-top: 20px;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  font-size: 40px;
}

.item1,
.item2,
.item3,
.item4 {
  border-radius: 23px;
  position: relative;
}

@media (max-width: 430px) {
  .item1,
  .item2,
  .item3,
  .item4 {
    height: 311px;
  }
}

.item1 {
  grid-area: item1;
  background-image: url("../assets/images/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.item1 p,
.item1 a {
  position: absolute;
  color: #ffffff;
  z-index: 12;
}

.item1 p:nth-child(1) {
  font-style: italic;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  font-size: 32px;
  top: 20%;
  left: 11%;
}

@media (max-width: 430px) {
  .item1 p:nth-child(1) {
    font-size: 20px;
  }
}

.item1 p:nth-child(2) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 45px;
  top: 30%;
  left: 10%;
}

@media (max-width: 430px) {
  .item1 p:nth-child(2) {
    font-size: 35px;
    top: 31%;
  }
}

@media (max-width: 430px) {
  .item1 p:nth-child(2) {
    font-size: 35px;
    top: 31%;
  }
}

.item1 a {
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
  left: 10%;
  bottom: 25%;
  text-align: center;
  width: 256px;
  max-width: 169px;
  line-height: 53px;
  border: 1px solid white;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  cursor: pointer;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.item1 a:hover, .item1 a:active {
  color: #ffffff;
  background-color: transparent;
}

@media (max-width: 430px) {
  .item1 a {
    font-size: 14px;
    max-width: 151px;
    bottom: 19%;
    line-height: 36px;
  }
}

.item1::after {
  content: "";
  z-index: 1;
  background: linear-gradient(269.24deg, rgba(255, 255, 255, 0) 16.36%, rgba(22, 22, 22, 0.26) 43.71%, rgba(0, 0, 0, 0.193426) 98.71%, rgba(22, 22, 22, 0.26) 98.71%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item2 {
  grid-area: item2;
  background-image: url("../assets/images/lock-al.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.item2 p,
.item2 a {
  position: absolute;
  color: #ffffff;
  z-index: 12;
}

.item2 p:nth-child(1) {
  font-style: italic;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  font-size: 25px;
  top: 20%;
  left: 11%;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .item2 p:nth-child(1) {
    font-size: 15px;
  }
}

@media (max-width: 430px) {
  .item2 p:nth-child(1) {
    font-size: 20px;
  }
}

.item2 p:nth-child(2) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 40px;
  top: 35%;
  left: 10%;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .item2 p:nth-child(2) {
    font-size: 30px;
  }
}

@media (max-width: 430px) {
  .item2 p:nth-child(2) {
    font-size: 35px;
    top: 31%;
  }
}

.item2 a {
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
  left: 10%;
  bottom: 11%;
  text-align: center;
  width: 169px;
  max-width: 169px;
  line-height: 44px;
  border: 1px solid white;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  cursor: pointer;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.item2 a:hover, .item2 a:active {
  color: #ffffff;
  background-color: transparent;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .item2 a {
    font-size: 10px;
    width: 48%;
    line-height: 28px;
  }
}

@media (max-width: 430px) {
  .item2 a {
    font-size: 14px;
    max-width: 151px;
    bottom: 19%;
    line-height: 36px;
  }
}

.item3 {
  grid-area: item3;
  background-color: blue;
}

.item3 p,
.item3 a {
  position: absolute;
  color: #ffffff;
  z-index: 12;
}

.item3 p:nth-child(1) {
  font-style: italic;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  font-size: 16px;
  top: 20%;
  left: 11%;
}

@media (max-width: 430px) {
  .item3 p:nth-child(1) {
    font-size: 20px;
  }
}

.item3 p:nth-child(2) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 30px;
  top: 35%;
  left: 10%;
}

@media (max-width: 430px) {
  .item3 p:nth-child(2) {
    font-size: 35px;
    top: 31%;
  }
}

.item3 a {
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
  left: 10%;
  bottom: 11%;
  text-align: center;
  width: 60%;
  max-width: 169px;
  line-height: 44px;
  border: 1px solid white;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  cursor: pointer;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.item3 a:hover, .item3 a:active {
  color: #ffffff;
  background-color: transparent;
}

@media (max-width: 430px) {
  .item3 a {
    font-size: 14px;
    max-width: 151px;
    bottom: 19%;
  }
}

@media (max-width: 430px) {
  .item3 a {
    font-size: 14px;
    max-width: 151px;
    bottom: 19%;
    line-height: 36px;
  }
}

.item4 {
  grid-area: item4;
  background: -webkit-gradient(linear, right top, left top, color-stop(6.25%, #d72d2d), to(rgba(173, 0, 0, 0))), #dd1221;
  background: linear-gradient(270deg, #d72d2d 6.25%, rgba(173, 0, 0, 0) 100%), #dd1221;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item4 p,
.item4 a {
  position: absolute;
  color: #ffffff;
  z-index: 12;
}

.item4 p:nth-child(1) {
  font-style: italic;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  font-size: 16px;
  top: 20%;
  left: 11%;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .item4 p:nth-child(1) {
    font-size: 13px;
  }
}

@media (max-width: 430px) {
  .item4 p:nth-child(1) {
    font-size: 20px;
  }
}

.item4 p:nth-child(2) {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 30px;
  top: 35%;
  left: 10%;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .item4 p:nth-child(2) {
    font-size: 25px;
  }
}

.item4 a {
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
  left: 10%;
  bottom: 11%;
  text-align: center;
  width: 60%;
  max-width: 169px;
  line-height: 44px;
  border: 1px solid white;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  cursor: pointer;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.item4 a:hover, .item4 a:active {
  color: #ffffff;
  background-color: transparent;
}

@media (max-width: 768px) and (max-height: 1023px) {
  .item4 a {
    font-size: 10px;
    width: 48%;
    line-height: 28px;
  }
}

@media (max-width: 430px) {
  .item4 a {
    font-size: 14px;
    max-width: 151px;
    bottom: 19%;
    line-height: 36px;
  }
}
/*# sourceMappingURL=app.css.map */